
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for header */
    z-index: 99;
}

.navbar-nav {
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5em;
    color: #007bff; /* Primary color */
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>');
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-around; /* Evenly space out the links */
    width: 60%; /* Adjust width to control the spacing between items */
}

.nav-item {
    margin-right: 20px;
}
.nav-link {
    font-size: 1em;
    color: #333;
    font-weight: 600;
}
.navbar-nav {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    align-items: center; 
}

.nav-item {
    margin-right: 20px;
}
@media (max-width: 750px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin: 0;
    }

    .home, .about {
        display: block; /* Display home and about items only */
    }

    .nav-link {
        padding: 10px 15px;
        white-space: nowrap;
    }
    .logo {
        text-align: center;
        width: 100%;
        font-size: 35px; 
    }
}
@media (min-width: 820px) and (max-width: 1024px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-item {
        display: block;
    }
    .logo {
        text-align: center;
        width: 100%;
        font-size: 35px; }
}