body { 

    font-family: Arial, sans-serif; 

    margin: 0; 

    padding: 0; 

    background-color: #f4f4f4; 

} 

 

.navbar { 

    background-color: #d2a679; 

} 

 

.navbar-brand { 

    font-size: 30px; /* Increase the font size of the logo */ 

    font-weight: bold; 

    color: #000; /* Text color for the logo */ 

} 

 

.navbar-nav { 

    margin-left: auto; /* Push nav items to the right */ 

    margin-right: 0; 

} 

 

.navbar-nav .nav-link { 

    color: #000; 

    font-size: 30px; /* Increase the font size of the navigation links */ 

    font-weight: bold; 

    padding: 10px 20px; /* Increase padding for more spacing */ 

    margin: 0 15px; /* Increase margin between links */ 

    transition: background-color 0.3s ease; 

} 

 

.navbar-nav .nav-link:hover { 

    background-color: #ddd; 

    color: black; 

} 

 

h2 { 

    text-align: center; 

} 

 

@media (max-width: 991px) { 

    .navbar { 

        text-align: center; /* Center the content in the navbar */ 

    } 

 

    .navbar-brand { 

        display: block; /* Make sure the logo is block-level */ 

        margin: 0 auto; /* Center the logo */ 

    } 

 

    .navbar-nav { 

        margin: 0; /* Remove auto margins for centering in collapsed state */ 

        text-align: center; /* Center items in the collapsed state */ 

    } 

 

    .navbar-nav .nav-link { 

        margin: 10px 0; /* Adjust margins for vertical spacing */ 

    } 

} 

 